*{
    padding: 0;
    margin: 0;
    font-family: comforta;
}
img{
    display: block;
    max-width: 100%;
}
nav{
    color: black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.nav-container-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.nav1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}
.nav2 li{
    padding: 8px;
    margin: 5px;
}
.landing-background{
    height: 70vh;
}
.landing-hero{
    height: 80vh;
    width: 100vw;
    position: relative;
}
.intro-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.pricing{
    height: 50vh;

    margin-top: 100px;
    padding:0;

}
.pricing-header{
    display: block;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
.pricing-container{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.price-box{
    height: 200px;
    width: 30%;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.price-box-header{

}
footer{
    height: 28vh;
    background-color: whitesmoke;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-container{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap:30px
}
/* Login/Logout*/
.login{
    height: 62vh;
}
.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form{
    width: 20%;
    height: 25%;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.login-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.login-btn{
    width: 100%;
    border:1px solid-black;
    border-radius: 8px ;
    padding: 5px;
    margin
}